.menu{
    width: 100%;
    height: 10vh;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100px;
}
.img{
    width: 0px;
}
.btn{
    display: none;
}
@media screen and (max-width: 550px){
    .menu{
        width: 100%;
        height: 14vh;
        background-color: yellow;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu-click{
        width: 100%;
        height: 50vh;
        background-color: yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo-click{
        width: 100px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .btn{
        display: block;
        width: 40px;
        height: 40px;
    }
    .btn-click{
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 30px;
    }
    .img{
        width: 100%;
    }
    .img-click{
        width: 100%;
    }
    .link{
        font-size: 0px;
    }
    
}